body{
background-color: rgb(241,232,230);
overflow-x: hidden;


}
.circle1{
  background-color: rgb(224,47,87);
  margin: 0px 0px 0px 0px;
  height: 33px;
  width: 33px;
  top: 200px;
  left: 28px;
  position: relative;
  border-radius:50% ;
}

.circle2{
  background-color: rgb(255,89,81);
  margin: 0px 0px 0px 0px;
  height: 89px;
  width: 89px;
  top: -70px;
  left: 365px;
  position: relative;
  border-radius:50% ;
  
}
.circle3{
  background-color: rgb(251,151,81);
  margin: 0px 0px 0px 0px;
  height: 294px;
  width: 294px;
  top: 300px;
  left: -47px;
  position: relative;
  border-radius: 50%;
}
.circle4{
 background-color: rgb(255,129,75);
 margin: 0px,0px,0px,0px;
 height: 13px;
 width: 13px;
 top: -900px;
 left: 1600px;
 position: relative;
 border-radius: 50%;
}
.circle5{
  background-color: rgb(51,51,51);
  
  margin: 0px,0px,0px,0px;
  height: 89px;
  width: 89px;
  top: -800px;
  left: 1650px;
  position: relative;
  border-radius: 50%;
}
.circle6{
  background-color: rgb(251,89,81);
  height: 591px;
  width: 591px;
  top: -650px;
  left: 1350px;
  position: relative;
  border-radius: 50%;
}
  


.form1{
  background-color: white;
  margin: 0px 0px 0px 0px;
  height: 600px;
  width: 600px;
  border-radius: 2%;
  top: -300px;
  left: 500px;
  position: relative;
}
.form2{
  background-color: white;
  margin: 0px 0px 0px 0px;
  height: 750px;
  width: 600px;
  border-radius: 2%;
  top: -350px;
  left: 500px;
  position: relative;
}
h1{
  padding-top: 50px;
  text-align: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.line{
  
  width: 100%;
  margin-top: 20px;
  border-top:1px solid rgb(15, 15, 15);
  opacity: 6%;
}
.label{
  margin-left: 100px;
  margin-top: 50px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  
}
.label1{
  margin-top: 20px;
  margin-left: 100px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.label2{
  margin-left: 35px;
}
.inputFields{
  height: 50px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgb(241,232,230);
  box-shadow: 5px 10px 18px #dfdede;
  font-family: FontAwesome,Arial, Helvetica, sans-serif;
}
.inputFields1{
  margin-right: 0px;
  margin-left: 20px;
  margin-top: 10px;
  
}


.inputFields:focus{
  height: 50px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgb(241,231,230);
  box-shadow: 5px 10px 18px #dfdede;
  
  
}
.inputFields1:focus{
  margin-right: 0px;
  margin-left: 20px;
  margin-top: 10px;
}
.button1
{
  
  height: 50px;
  margin-top: 20px;
  background-color: rgb(252,137,131);
  box-shadow: 5px 10px 18px #dfdede;
}
.button2
{
  
  height: 50px;
  margin-top: 20px;
  background-color: rgb(252,137,131);
  box-shadow: 5px 10px 18px #dfdede;
}
.arrow{
 
  margin-left: 30px;
}
.last{
  margin-left: 100px;
  margin-top: 30px;
}
p{
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
}
.feedbackAge{
  width: 150px;
  height: 20px;
}
.items{
  background-color: white;
  border-radius: 2%;
 width: 250px;
 min-height: 100px;
 max-height: 600px;

 
}
.taskButton{
  background-color: rgb(241,232,230);
  
}
.btn{
  margin-bottom: 10px;
  background-color:  rgb(241,232,230);
  color: black;
  box-shadow: 5px 10px 18px #dfdede;
}
.btn-delete{
  background-color: rgb(251,89,81);
}
.btn-complete{
  background-color: rgb(161,221,112);
}
.navbar-item{
  color: black;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 40px;
}
.card{
  width: 250px;
  min-height: 100px;
  border-radius: 2%;
  overflow: hidden;
  
}
.card-header{
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.card-body{
  text-align: center;
}
.card2{
  margin-top: 40px;
  margin-bottom: 40px;
  width: 800px;
}
.input1{
  width: 500px;
  background-color: rgb(251,151,81,0.2);
  
}
.input1:focus{
  width: 500px;
  background-color: rgb(251,151,81,0.2);
  
}

.input2{
  width: 750px;
  height: 100px;
  
}

.input2:focus{
  width: 750px;
  height: 100px;
}

.btn3{
  background-color: rgb(161,221,112);
}